USE [master]
GO
/****** Object:  Database [polizas]    Script Date: 19/03/2019 20:18:28 ******/
CREATE DATABASE [polizas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'polizas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\polizas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'polizas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\polizas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [polizas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [polizas]
GO
USE [polizas]
GO
/****** Object:  Table [dbo].[Polizas]    Script Date: 19/03/2019 20:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Polizas](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombres] [nchar](50) NOT NULL,
	[Apellidos] [nchar](50) NOT NULL,
	[TipoDocumento] [nchar](10) NOT NULL,
	[NumeroDocumento] [nchar](15) NOT NULL,
	[Email] [nchar](50) NULL,
	[Celular] [nchar](10) NULL,
	[Direccion] [nchar](50) NULL,
	[TipoVehiculo] [nchar](10) NOT NULL,
	[PlacaVehiculo] [nchar](10) NOT NULL,
	[FechaCompra] [datetime] NOT NULL,
 CONSTRAINT [PK_Polizas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
