@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-3">
            <div>
                <a class="navbar-brand" href="#">
                    <img src="https://www.comprarmisoat.com/assets/img/axa_colpatria.png" width="150" height="150" alt="">
                </a>
            </div>
        </div>
        <div class="col-sm-9">
            <h1>Compra y recibe tu SOAT al instante</h1>
            <p class="lead">Premiamos a los buenos conductores con hasta $50,000 de descuento!</p>
            <p><a href="https://soat.somosf1.com" class="btn btn-primary btn-lg">Ver más &raquo;</a></p>
        </div>
    </div>
